* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f5f5f5;
    color: #383535;
  }

  .company{
    margin: 20px;
  }

  .company h2 {
    font-size: 35px;
    text-align: center;
  }

  .recruit {
    width: 500px;
    height: 450px;
    margin: 20px auto;
    background-color: #ffffffec;
    box-shadow: 2px 3px 20px 0px rgba(17, 17, 17, 0.75);
    border-radius: 4px;
  }

  form {
    width: 460px;
    text-align: left;
    margin-left: 5px;
    padding: 20px 10px;
    color: #2e2b2b;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .type-input {
    font-size: 15px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    padding-left: 5px;
  }

  .cv-input {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    font-size: 15px;
    padding-left: 5px;
  }

  .send {
    width: 60px;
    border: none;
    box-sizing: border-box;
    background-color: #363434;
    color: white;
    border-radius: 4px;
    padding: 10px 12px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .send:hover {
    background-color: #3f3c3c86;
  }